.builder__info {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding: 30px 340px;
}

.builder__info ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.builder__info li {
    display: flex;
    column-gap: 15px;
    align-items: center;
    list-style-type: none;
    font-size: 24px;
}

.builder__info ul img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.builder__name {
    font-size: 28px;
    font-weight: 700;
}

.builder__img {
    width: 400px;
}

.main__info {
    display: flex;
    align-items: center;
    column-gap: 15px; 
    padding: 50px 70px;
    background-color: #fff;
    border-radius: 42px;
}

.main__info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.main__info p {
    font-size: 20px;
    margin-top: 20px;
}

.main__info p span {
    font-weight: 700;
    font-size: 21px;
}

.builder__position {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 800;
}